.points {
    font-size: 20px;
    font-style: italic;
}

h1 {

    background-color: cornflowerblue;
    color: white;
    padding-left: 50px;

}

p {
    margin: 40px;
    
    border: black solid;
    margin: 40px;
    padding: 10px;
}
body {
    max-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
}